* {
    margin: 0;
    box-sizing: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
}

table {
    border: 1px solid;
    border-collapse:collapse;
    padding: 5px;
}
table th {
    border:1px solid;
    padding: 5px;
}
table td {
    border:1px solid;
    text-align: center;
    padding: 5px;
}
